In [4]:
import pandas as pd
from sklearn import preprocessing

In [5]:
df_cover = pd.read_csv("data/SECTION_COVER.csv")
df_days_off = pd.read_csv("data/SECTION_DAYS_OFF.csv")
df_shift_off = pd.read_csv("data/SECTION_SHIFT_OFF_REQUESTS.csv")
df_shift_on = pd.read_csv("data/SECTION_SHIFT_ON_REQUESTS.csv")
df_shift = pd.read_csv("data/SECTION_SHIFTS.csv")
df_staff = pd.read_csv("data/SECTION_STAFF.csv")

In [6]:
df_cover.columns = df_cover.columns.str.replace(' ', '')
df_cover.columns = df_cover.columns.str.replace(' ', '')
df_cover.columns = df_cover.columns.str.replace(' ', '')
df_days_off.columns = df_days_off.columns.str.replace(' ', '')
df_shift_off.columns= df_shift_off.columns.str.replace(' ', '')
df_shift_on.columns = df_shift_on.columns.str.replace(' ', '')
df_shift.columns = df_shift.columns.str.replace(' ', '')
df_staff.columns = df_staff.columns.str.replace(' ', '')

In [7]:
le_shift = preprocessing.LabelEncoder()
le_staff = preprocessing.LabelEncoder()

In [8]:
df_cover.columns

Index(['Day', 'ShiftID', 'Requirement', 'Weightforunder', 'Weightforover'], dtype='object')

In [9]:
#soft
df_cover['ShiftID_num'] = le_shift.fit_transform(df_cover['ShiftID'])
df_cover

    Day ShiftID  Requirement  Weightforunder  Weightforover  ShiftID_num
0     0       E            2             100              1            1
1     0       D            3             100              1            0
2     0       L            3             100              1            2
3     1       E            3             100              1            1
4     1       D            4             100              1            0
5     1       L            3             100              1            2
6     2       E            3             100              1            1
7     2       D            5             100              1            0
8     2       L            3             100              1            2
9     3       E            4             100              1            1
10    3       D            5             100              1            0
11    3       L            2             100              1            2
12    4       E            2             100              1            1
13    4       D            5             100              1            0
14    4       L            4             100              1            2
15    5       E            4             100              1            1
16    5       D            6             100              1            0
17    5       L            2             100              1            2
18    6       E            6             100              1            1
19    6       D            5             100              1            0
20    6       L            3             100              1            2
21    7       E            4             100              1            1
22    7       D            6             100              1            0
23    7       L            3             100              1            2
24    8       E            3             100              1            1
25    8       D            4             100              1            0
26    8       L            2             100              1            2
27    9       E            4             100              1            1
28    9       D            5             100              1            0
29    9       L            4             100              1            2
30   10       E            2             100              1            1
31   10       D            5             100              1            0
32   10       L            2             100              1            2
33   11       E            2             100              1            1
34   11       D            3             100              1            0
35   11       L            4             100              1            2
36   12       E            2             100              1            1
37   12       D            6             100              1            0
38   12       L            5             100              1            2
39   13       E            3             100              1            1
40   13       D            5             100              1            0
41   13       L            3             100              1            2

In [10]:
#hard
df_staff['ID_num'] = le_staff.fit_transform(df_staff['ID'])
df_staff['MaxShifts_1'] = df_staff['MaxShifts'].map(lambda x:x.split('|')[0].split('=')[1])
df_staff['MaxShifts_0'] = df_staff['MaxShifts'].map(lambda x:x.split('|')[1].split('=')[1])
df_staff['MaxShifts_2'] = df_staff['MaxShifts'].map(lambda x:x.split('|')[2].split('=')[1])
df_staff

,ID,MaxShifts,MaxTotalMinutes,MinTotalMinutes,MaxConsecutiveShifts,MinConsecutiveShifts,MinConsecutiveDaysOff,MaxWeekends,ID_num,MaxShifts_1,MaxShifts_0,MaxShifts_2
0,A,E=14|D=14|L=0,4320,3360,5,2,2,1,0,14,14,0
1,B,E=14|D=14|L=5,4320,3360,5,2,2,1,1,14,14,5
2,C,E=14|D=14|L=5,4320,3360,5,2,2,1,2,14,14,5
3,D,E=14|D=0|L=5,4320,3360,5,2,2,1,3,14,0,5
4,E,E=14|D=0|L=0,4320,3360,5,2,2,1,4,14,0,0
5,F,E=14|D=14|L=0,4320,3360,5,2,2,1,5,14,14,0
6,G,E=14|D=14|L=5,4320,3360,5,2,2,1,6,14,14,5
7,H,E=14|D=14|L=5,4320,3360,5,2,2,1,7,14,14,5
8,I,E=14|D=14|L=5,4320,3360,5,2,2,1,8,14,14,5
9,J,E=14|D=14|L=0,4320,3360,5,2,2,1,9,14,14,0
10,K,E=14|D=14|L=0,4320,3360,6,2,3,1,10,14,14,0
11,L,E=0|D=14|L=5,4320,3360,6,2,3,1,11,0,14,5
12,M,E=14|D=14|L=5,4320,3360,6,2,3,1,12,14,14,5
13,N,E=0|D=14|L=5,4320,3360,6,2,3,1,13,0,14,5
14,O,E=0|D=14|L=5,4320,3360,6,2,3,1,14,0,14,5
15,P,E=14|D=14|L=2,2160,1200,5,1,2,1,15,14,14,2
16,Q,E=0|D=14|L=2,2160,1200,5,1,2,1,16,0,14,2
17,R,E=14|D=14|L=0,2160,1200,5,1,2,1,17,14,14,0
18,S,E=14|D=0|L=2,2160,1200,5,1,2,1,18,14,0,2
19,T,E=14|D=14|L=0,2160,1200,5,1,2,1,19,14,14,0

In [11]:
#hard
df_days_off['EmployeeID_num'] = le_staff.fit_transform(df_days_off['EmployeeID'])
df_days_off

   EmployeeID  DayIndexes(startatzero)  EmployeeID_num
0           A                        0               0
1           B                        6               1
2           C                        1               2
3           D                        0               3
4           E                        3               4
5           F                        0               5
6           G                        4               6
7           H                       12               7
8           I                        6               8
9           J                        2               9
10          K                        4              10
11          L                        4              11
12          M                        1              12
13          N                        8              13
14          O                        3              14
15          P                        2              15
16          Q                        6              16
17          R                        1              17
18          S                        8              18
19          T                       11              19

In [12]:
#soft
df_shift_off['EmployeeID_num']= le_staff.fit_transform(df_shift_off['EmployeeID'])
df_shift_off['ShiftID_num']= le_staff.fit_transform(df_shift_off['ShiftID'])
df_shift_off
# days off 不满足 扣

   EmployeeID  Day ShiftID  Weight  EmployeeID_num  ShiftID_num
0           A    9       E       2               0            1
1           A   10       E       2               0            1
2           A   11       E       2               0            1
3           A   12       E       2               0            1
4           A   13       E       2               0            1
5           C    2       L       3               1            2
6           H    7       E       2               2            1
7           H    8       E       2               2            1
8           H    9       E       2               2            1
9           H   10       E       2               2            1
10          M    3       E       2               3            1
11          M    4       E       2               3            1
12          M    5       E       2               3            1
13          M    6       E       2               3            1
14          M    7       E       2               3            1
15          O   13       D       3               4            0
16          P    5       L       3               5            2
17          P    6       L       3               5            2
18          P    7       L       3               5            2
19          P    8       L       3               5            2
20          Q    1       D       3               6            0
21          Q    2       D       3               6            0
22          Q    3       D       3               6            0
23          Q    4       D       3               6            0
24          Q    5       D       3               6            0

In [13]:
#soft
df_shift_on['EmployeeID_num']= le_staff.fit_transform(df_shift_on['EmployeeID'])
df_shift_on['ShiftID_num']= le_staff.fit_transform(df_shift_on['ShiftID'])
df_shift_on
# 想上班 不满足 扣

   EmployeeID  Day ShiftID  Weight  EmployeeID_num  ShiftID_num
0           B    0       D       1               0            0
1           B    1       D       1               0            0
2           B    2       D       1               0            0
3           B    3       D       1               0            0
4           B    4       D       1               0            0
5           D    7       E       2               1            1
6           D    8       E       2               1            1
7           D   12       E       2               1            1
8           D   13       E       2               1            1
9           F    8       E       2               2            1
10          F   12       D       3               2            0
11          F   13       D       3               2            0
12          G   10       L       2               3            2
13          G   11       L       2               3            2
14          H    2       E       1               4            1
15          H    3       E       1               4            1
16          I    0       D       2               5            0
17          I    1       D       2               5            0
18          I    2       D       2               5            0
19          J    8       D       2               6            0
20          J    9       D       2               6            0
21          K    6       D       3               7            0
22          K    7       D       3               7            0
23          K    8       D       3               7            0
24          K    9       D       3               7            0
25          K   10       D       3               7            0
26          L    8       L       2               8            2
27          N    3       L       1               9            2
28          N    4       L       1               9            2
29          N    5       L       1               9            2
30          N    6       L       1               9            2
31          O    5       D       1              10            0
32          O    6       D       1              10            0
33          O    7       D       1              10            0
34          S    1       E       3              11            1
35          S    6       E       2              11            1
36          S    7       E       2              11            1
37          T    3       E       3              12            1
38          T    4       E       3              12            1

In [14]:
#hard
df_shift['PrevShiftID_num']= le_shift.fit_transform(df_shift['PrevShiftID'])
df_shift['CurrentShiftID_num']= le_shift.fit_transform(df_shift['CurrentShiftID'])
df_shift

,PrevShiftID,CurrentShiftID,Lengthinmins,Weight,PrevShiftID_num,CurrentShiftID_num
0,D,E,480,9999999999,0,1
1,L,D,480,9999999999,2,0
2,L,E,480,9999999999,2,1
3,E,L,480,0,1,2